@import url("../../.cache/wal/colors-waybar.css");

#waybar {
    font-family: 'Rubik', 'JetBrainsMono Nerd Font Propo', 'Noto Sans CJK JP', 'Noto Sans CJK KR';
    background-color: transparent;
}


/* --- PILL STYLE --- */
/* Defines the standard styling for pill layout. */
/* Add any modules/groups here */
#clock,
#workspaces,
#window,
#tray,
#hardware {
    background-color: @background;
    color: @foreground;
    padding: 2px 15px;
    border-radius: 99px;
    margin: 0px 6px;
    border-width: 1px;
    border-style: solid;
    border-color: alpha(@foreground, 0.4);
}

/* --- SPECIFIC MODULE TWEAKS BELOW --- */
#clock {
    font-weight: 500;
}

window#waybar.empty #window {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 0;
}

#tray {
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1)
}

#workspaces {
    padding: 2px 8px;
}

#workspaces button {
    padding: 2px 4px;
    border-radius: 99px;
    margin: 0px 2px;
    min-width: 1rem;
    background-clip: padding-box;
    transition: all 0.3s ease-in-out;
    color: @foreground;
}

#workspaces button.empty {
    color: @color8
}

#workspaces button.active {
    color: @background;
    background: linear-gradient(135deg, @color1, @color2, @color3, @color4);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-clip: padding-box;
    min-width: 4rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

#custom-sep {
    padding: 0px 8px;
    color: alpha(@foreground, 0.2)
}
